
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>index</h2>

<div>
    @ViewBag.Message Ladies and gentlemen,
    <p>
        We're going to have an exciting party.
    </p>
    @Html.ActionLink("RSVP", "RsvpForm")


</div>

