
@{
    ViewBag.Title = "index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}


<link href="~/Content/bootstrap.css" rel="stylesheet" />

<style>
    .btn a {
        color: white;
        text-decoration: none
    }

    body {
        background-color: #f1f1f1
    }
</style>

<div class="text-center">

    <h2>@ViewBag.Message Ladies and gentlemen,</h2>
    <h3>
        We're going to have an exciting party.
    </h3>

    <div class="btn btn-success">
        @Html.ActionLink("RSVP", "RsvpForm")
    </div>
</div>


