@model WebApplication6.Models.Gestresponse

@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/bootstrap.css" rel="stylesheet" />

<style>
    body {
        background-color: #f1f1f1
    }
</style>

<h2>Thanks,@Model.Name</h2>

<p>
    @if (Model.WillAttend == true)
    {
        @:感谢,期待您的到来..
    }
    else
    {
        @:Sorry to hear that you can not make it,but thanks for letting us know..
    }
</p>



