@model WebApplication6.Models.Gestresponse

@{
    ViewBag.Title = "Thanks";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}


<link href="~/Content/bootstrap.css" rel="stylesheet" />

<style>
    body {
        background-color: #f1f1f1
    }
</style>

<div class="text-center">
    <h2>Thanks,@Model.Name</h2>

    <div class="lead">
        @if (Model.WillAttend == true)
        {
            @:感谢,期待您的到来..
        }
        else
        {
            @:Sorry to hear that you can not make it,but thanks for letting us know..
        }
    </div>

</div>



